@model EventAddVmEM
@{
    Layout = null;

    var venues = (List<Venue>)ViewData["venues-key"];
    var eventTypes = (List<EventType>)ViewData["eventTypes-key"];
}

<!DOCTYPE html>
<html>

<head>
    <link href='https://fonts.googleapis.com/css?family=Arbutus' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Anton' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Sedgwick+Ave' rel='stylesheet'>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add event</title>
    <link rel="stylesheet" type="text/css" href="~/EventStage/EventStage.css">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no,viewport-fit=cover">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body>

    <div class="aspectratio">
        <div class="pagewrapper">

            <div class="skyDIV">
                <img src="~/EventStage/Textures/Cloud2.png" class="cloud2IMG" />
                <img src="~/EventStage/Textures/Sun.png" class="sunIMG" />
                <img src="~/EventStage/Textures/Cloud4.png" class="cloud4IMG" />
                <img src="~/EventStage/Textures/Cloud5.png" class="cloud5IMG" />
                <img src="~/EventStage/Textures/Parrot2.png" class="parrot2IMG" />
            </div>


            <div class="mainDIV">

                <div class="topMD"></div>

                <div class="middleMD">

                    <div class="brickwall">
                        <img src="~/EventStage/Textures/BrickWall.png" class="brickwallIMG" />
                        <div class="entryFORM" id="ajaxDiv">
                            <form action="AddEvent" method="POST" class="ifKlasa" ajax-poziv="da" ajax-rezultat="ajaxDiv" enctype="multipart/form-data">
                                <br />
                                <select asp-for="EventTypeID">
                                    <option value="" selected disabled hidden>Event type</option>
                                    @foreach (var x in eventTypes)
                                    {
                                        <option value="@x.Id">@x.Name</option>
                                    }
                                </select>
                                <br />
                                <span asp-validation-for="EventTypeID" class="VenueError"></span>
                                <br />
                                <input type="text" asp-for="Name" placeholder="Event name" class="eventFormTitle" />
                                <span asp-validation-for="Name" class="VenueError"></span>
                                <br />
                                <select asp-for="VenueID">
                                    <option value="" selected disabled hidden>Choose the venue</option>
                                    @foreach (var x in venues)
                                    {
                                        <option value="@x.Id">@(x.VenueType.Name + " " + x.Name)</option>
                                    }
                                </select>
                                <br />
                                <span asp-validation-for="VenueID" class="VenueError"></span>
                                <br />
                                <label asp-for="Picture"></label>
                                <center><input style="width: 60%;" asp-for="Picture" /></center>
                                <br /><br />
                                <textarea asp-for="Description" rows="6" style="resize: none;" placeholder="&#13&#10&#13&#10&#13&#10Event description" class="eventFormDescription"></textarea>
                                <br />
                                <input type="datetime-local" asp-for="StartDate" />
                                <span asp-validation-for="StartDate" class="VenueError DatePickerCustom"></span>
                                <br />
                                <input type="datetime-local" asp-for="EndDate" />
                                <span asp-validation-for="StartDate" class="EndDate DatePickerCustom"></span>
                                <br />
                                <input type="submit" value="Save and proceed to gear rent" />
                            </form>
                        </div>
                    </div>

                    <div class="wrapperIMG">

                        <img src="~/EventStage/StageEquipment/Stage.png" class="stageIMG" />
                        <img src="~/EventStage/Textures/Beach.svg" class="beachIMG" />

                        <div class="grass">

                        </div>

                    </div>
                </div>

                <img src="~/EventStage/Textures/Road.png" class="roadIMG" />

            </div>


        </div>

    </div>
    <script src="~/EventStage/EventStage.js">
    </script>

    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery">
    </script>
    <script src="~/js/jsFIT.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>

    <partial name="_ValidationScriptsPartial" />

</body>

</html>