html {
    scroll-behavior: smooth;

}

body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

.mainDIV {
    position: relative;
    height: 22%;
    width: 100%;
    background-color: rgb(114, 159, 207);
}

.skyDIV {
    justify-content: center;
    position: relative;
    height: 78%;
    width: 100%;
    background-color: rgb(114, 159, 207);
    min-height: 70%;
}

.sunclouds {
    position: relative;
    height: 50%;
    width: 100%;
}

.pagewrapper {
    position: absolute;
    height: 400%;
    width: 100%;
    overflow: hidden;
    min-width: 1360px; /*1360px*/
    min-height: 3072px; /*2628px*/
}

.topMD {
    position: relative;
    width: 100%;
    height: 10%;
    background-color: rgb(114, 159, 207);
}

.middleMD {
    position: relative;
    width: 100%;
    height: 75%;
}

.brickwall {
    position: absolute;
    float: left;
    height: 100%;
    width: 30%;
    margin-right: 50px;
}

.brickwallIMG {
    height: 100%;
    width: 100%;
    object-fit: fill;
}


.entryFORM {
    position: relative;
    height: 70%;
    width: 70%;
    border: 10px solid rgb(139,69,19);
    border-radius: 20px;
    z-index: 10;
    transform: translate(17%, -122%);
    background-color: rgb(250,240,230);
    font-family: Arbutus;
    text-align: center;
}

::placeholder {
    color: red;
    font-family: Arbutus;
    text-align: center;
    font-size: 0.7em;
}

input[type="text"] {
    background-color: rgba(0,0,0,0);
    border: 0px solid black;
    text-align: center;
    color: black;
    width: 100%;
    /*font-weight: bold;*/
}

input[type="text"]:focus {
    border: 0px solid black;
}

.eventFormTitle {
    font-family: 'Sedgwick Ave', cursive;
    font-size: 1.8em;
    
}

.eventFormDescription {
    font-family: 'Sedgwick Ave', cursive;
    font-size: 0.8em;
}

.bottomMD {
    position: relative;
    width: 100%;
    height: 20%;
    background-color: rgb(242, 120, 99);
    /*overflow: auto;*/
}

.roadIMG {
    height: 16%;
    width: 100%;
    object-fit: fill;
    position: absolute;
}

.wrapperIMG {
    position: relative;
    float: right;
    height: 100%;
    width: 70%;
    background-color: rgb(114, 159, 207);
    /*overflow:auto;*/
    transform: translate(0, 0);
}

.grass {
    height: 27%;
    width: 100%;
    position: absolute;
    transform: translate(0, 300%);
    background-color: rgb(255, 227, 159);
}

::-webkit-scrollbar {
    display: none;
}


.stageIMG {
    margin: auto;
    height: 100%;
    position: absolute;
    z-index: 10;
    transform: translate(0, 0) scale(0.9);
    display: inline-block;
}

.sunIMG {
    display: block;
    position: relative;
    margin: 0 auto;
    height: 8.75%; /*210px*/ /*8.75%*/ /*32vh*/
    width: 13.47%; /*184px*/ /*13.47%*/ /*13.47vw*/
    transform: translate(0, 50%);
    z-index: 6;
}

.cloud2IMG {
    display: block;
    position: relative;
    margin: 0 auto 0 0;
    height: 8.3%; /**/ /**/ /*30.3vh*/
    width: 18.74%; /**/ /**/ /*18.74vw*/
    transform: translate(30%, 20%);
    z-index: 7;
}

.cloud4IMG {
    display: block;
    position: relative;
    margin: 0 0 0 auto;
    height: 6.67%; /*160px*/ /*6.67%*/ /*24.36vh*/
    width: 20.5%; /*280px*/ /*20.5%*/ /*20.5vw*/
}

.cloud5IMG {
    display: inline;
    position: relative;
    float: left;
    height: 7.09%; /*170px*/ /*7.09%*/ /*25.88vh*/
    width: 29.29%; /*400px*/ /*29.29%*/ /*29.29vw*/
    z-index: 10;
}

.parrot2IMG {
    display: inline;
    position: relative;
    float: right;
    height: 9.18%; /*220px*/ /*9.18%*/ /**/
    width: 19.04%; /*260px*/ /*19.04%*/ /**/
}

.beachIMG {
    margin-top: 16%;
    width: 100%;
    position: absolute;
    z-index: 5;
}

.aspectratio {
    position: absolute;
    width: 100vw;
    padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
}

.DatePickerCustom {
    max-width: 100%;
}