
@{
    float EOCreditsAmountF = (float)ViewData["EOCreditsAmountF-key"];
}

<br />
<center><i class="glyphicon glyphicon-bitcoin" style="font-size: 3em;"></i><br /><br /><p style="display: inline;" class="creditsAmount">You have @EOCreditsAmountF credits available.</p></center>
<br/>
<br />